.porfolio {

    .porfoliocard {
        display: flex;
        justify-content: center;
    }

}

div .prints {
    width: 100%;

    .contenedorprints{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
}

    .contenedorprints {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

.footercopy {
    background-color: yellow;
}