//colores
$colores: (primary-dark:#262626, primary-light:#f2f2f2, secondary: #ffb703, secondary-dark: darken (#ffb703, 10%), secondary-light: lighten (#ffb703, 40%));

//fuentes
$font-type:'Montserrat', sans-serif;

//dimensiones
$desktop: 992px;
$mobile: 576px;
$padding: 15px;
$radius: 15px;

//sombreado
$shadow: 0 10px 30px rgba(0, 0, 0, .4);