//colores
$primary: #1D1D1D;
$primary-light: #E9E6FF;
$secondary: #FC9F5B;
$secondary-grey: #E9EBF8;

//tipografía
$font-type: 'Montserrat', sans-serif;

//sombreado
$shadow:0 10px 30px rgba(0, 0, 0, .4);